/* Initializing */

$blue: #85e6d5
$darkblue: #5FC3B2
// darker version of blue for text:
$textblue: #77DCCA 
// Old blue color: #39a39e
$red: #ee8484
$yellow: #E2B540
$green: #7BB858
$gray: #888

.b
    background: $blue
.r
    background: $red
.y
    background: $yellow
.g
    background: $green
.w
    background: #fff

.c
    text-align: center
    display: block

.rfont
    color: $red

.bfont
    color: $textblue

.tright
    text-align: right

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700)
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700)

=border-radius($radius)
    -webkit-border-radius: $radius
    -moz-border-radius:    $radius
    -ms-border-radius:     $radius
    border-radius:         $radius

=box-sizing
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

*
    border: none
    background: none
    padding: 0
    margin: 0
    position: relative
    font-family: "Open Sans"


a, a:hover, a:focus
    text-decoration: none!important

a:hover
    opacity: 0.9

.container ul, .container ol
    margin-left: 20px

    li
        margin: 10px 0

/* Main Content */

.container
    padding: 50px 30px 30px
    font-size: 16px
    color: #444
    line-height: 26px
    a
        color: $blue

    &.sub
        margin-top: 0

.narrow
    max-width: 900px
    margin: 0 auto
    padding: 0 5%

.wrap
    margin: 15px auto

.sm
    max-width: 500px

.medium
    max-width: 700px

.middle
    max-width: 1100px
    margin: 0 auto
    padding: 0 5%

.content
    max-width: 1150px
    margin: 0 auto
    padding: 100px 50px

    a
        color: $blue

    &.center
        text-align: center

.g
    background: #f8f8f8

h1
    text-transform: uppercase
    font-weight: 500
    font-size: 34px
    color: $red
    margin: 10px 0 25px!important
    text-align: center
    font-family: "Raleway"

    &.l
        text-align: left

h2
    color: $red
    font-family: "Raleway"
    text-transform: uppercase
    font-size: 26px
    margin-bottom: 20px
    font-weight: 700
    letter-spacing: 1px
    text-align: center

    &.alt
        text-transform: none
        text-align: left
        font-size: 24px

h3
    margin: 25px 0 20px
    text-transform: uppercase
    font-weight: 600
    font-family: "Ubuntu"
    font-size: 18px
    color: $textblue

.col-sm-6
    h3
        text-align: center

p
    margin: 15px 0

/* Portraits of CS */

.questions
    li 
        font-weight: 600


/* Banner */

.banner
    height: 500px
    background: #e6faf8
    overflow: hidden
    
    .bg
        max-width: 900px

    .over
        position: absolute
        top: 150px
        right: 5%
        text-align: right!important

        h1
            max-width: 400px
            text-align: right!important
        

/* Button */

.button
    display: inline-block
    background: $red
    font-family: "Raleway"
    color: #fff!important 
    padding: 11px 20px
    cursor: pointer
    border: none!important
    font-size: 16px
    text-align: center
    +box-sizing
    +border-radius(3px)
    min-width: 200px
    margin: 5px auto
    transition: 0.2s all
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 1px


    &.teal
        background: $blue
        &:hover
            background: $darkblue

.button_wrap
    text-align: center

/* Cols */

.row
    margin-bottom: 15px
    margin-top: 15px

.col-sm-6.left
    padding-right: 30px

.col-sm-6.right
    padding-left: 30px

.col2
    display: inline-block
    width: 47%
    vertical-align: top
    margin-top: 20px
    +box-sizing

.col2:first-of-type
    margin-right: 5%


/* Navigation */

.navbar * 
    font-family: "Raleway"
    font-weight: 400!important
    font-size: 15px!important

.navbar
    border-radius: 0!important
    border: none!important
    border-bottom: 1px solid $blue!important
    background: #fff
    margin-bottom: 0!important
    text-transform: uppercase
    top: 0
    z-index: 100
    width: 100%
    top: 0

    .container-fluid
        max-width: 850px
    
    li
        a
            padding: 20px 15px
    li:hover
        background: $red
        a
            color: #fff!important

    a
        color: $red!important

    .open a
        background: $red!important
        color: #fff!important

    .dropdown-menu
        border: none
        box-shadow: none
        padding: 0
        background: $red

        li 
            width: 100%
            
            a
                padding: 15px 15px
                background: $red
                color: #fff!important


    .icon-bar
        background: #fff!important
        padding: 1px
    .no-link
        cursor: default

    .logo
        position: absolute
        width: 50px
        top: 0px
        left: 30px
        img
            max-width: 100%
    .wicc
        top: 20px
        font-weight: 700!important
        z-index: 99
        color: $blue!important
        position: absolute



/* Events */

#events-upcoming
    text-align: center

    div
        margin: 10px 2%
        width: 20%
        display: inline-block
        vertical-align: top

        div
            margin: 0
            width: 100%
    

.info 
    h3
        margin-bottom: 10px
    p
        margin: 0

.date
    +border-radius(100%)
    border: 2px solid $blue
    width: 80px!important
    height: 80px
    background: $blue
    color: #fff
    text-align: center
    padding-top: 15px
    font-weight: 600
    display: inline-block
    vertical-align: top
    

    .day
        display: block!important
        font-size: 28px
        position: relative
        top: -7px
        
    .month
        display: block!important
        font-size: 13px
        text-transform: uppercase
        position: relative
        font-weight: 700
        top: -2px

    

/* Goals */

.goals
    margin: 15px 0

    .image
        height: 60px
        position: relative
        bottom: 0

        img
            padding-bottom: 10px
            max-height: 100%

    h3
        color: $blue

    a
        display: block
        margin: 2px 0

/* Join Us on front page */

#joinus

    input
        border: 1px solid #ddd
        display: inline-block
        +border-radius(3px)
        padding: 8px 10px
        font-size: 16px
        text-align: center
        width: 100%
        max-width: 230px

    #error
        margin-top: 15px

    .button
        width: 100%
        max-width: 230px


    .media-buttons img
        width: 50px

/* Bottom Banner */

.bottom_banner
    img
        max-width: 100%


/* Resources */

.opportunities td
    min-width: 200px

.img-block
    height: 100px

/* Footer */

.footer
    background: #333
    color: #ccc
    position: relative
    text-align: center
    
    .container
        padding: 30px 0
        font-size: 16px

    a
        color: #ccc

    .social_media
        padding: 10px 0 30px

        img
            width: 40px
            margin: 0 3px

            &:hover
                opacity: 0.8


/* MENTORSHIP PAGE */

.page_banner
    background-size: cover!important
    max-height: 300px
    width: 100%
    height: 300px

.bannerfix
    height: 300px

.layer
    height: 100%
    width: 100%
    position: absolute
    left: 0
    top: 0
    background-size: cover!important
    opacity: 0.1

#stats
    color: #fff
    padding: 20px 20px 30px
    .num
        font-size: 32px
        font-weight: 700
        margin-bottom: 10px
    h3
        color: #fff
        margin-bottom: 40px

#mentor_buttons
    text-align: center
        
    h2
        display: inline-block
        width: 47%
        text-align: center!important
        margin-right: 4%
        letter-spacing: 1px
        border-bottom: 2px solid #fff
        cursor: pointer
        padding: 10px 0
        transition: all 0.2s

        &:hover
            border-bottom: 2px solid $blue

        &.selected
            border-bottom: 2px solid $blue

    h2:last-child
        margin-right: 0

.director
    text-align: center
    display: inline-block
    width: 150px
    padding: 10px 0

    .netid
        font-size: 14px
        color: #aaa
        margin-top: -5px



.circle
    max-width: 170px
    display: inline-block
    img
        +border-radius(100%)
        width: 100%

.circle_sm
    max-width: 80px

#mentee-info
    display: none

/* ABOUT US PAGE */

.profile
    margin: 40px auto
    color: $gray

    h3
        margin-top: 0

.square_image
    +border-radius(100%)
    max-width: 150px
    max-height: 150px
    overflow: hidden
    margin: 0 auto

    &.s2
        border-color: $red

    img
        max-width: 100%

.info
    p
        font-size: 16px
        line-height: 1.5em
        color: $textblue

.name
    font-weight: 700
    margin-top: 20px
    text-align: center

.position
    font-weight: 700
    margin-bottom: 10px
    font-size: 18px
    text-transform: uppercase

.class
    text-align: center
    font-size: 15px


.mail
    a
        display: none

/* Calendar */

#calendar
    text-align: center


/* Join */

.fb
    margin-right: 6px
    margin-bottom: 10px

/* Media */

@media screen and (max-width: 1000px)
    .cover
        height: 350px

@media screen and (max-width: 768px)
    .position
        text-align: center
        margin-top: 10px
        
    .cover
        height: 300px

    .nav
        li
            a
                padding: 10px 15px

    .goals .image
        margin-top: 40px

    h1.l
        text-align: center

    h1.top
        padding-top: 40px


    .row
        margin-bottom: 10px

    .event
        width: 28%



@media screen and (max-width: 550px)
    .cover
        height: 250px

@media screen and (max-width: 450px)
    .cover
        height: 200px

    .event
        width: 43%
