/* Initializing */
.b {
  background: #39a39e; }

.r {
  background: #EA6750; }

.y {
  background: #E2B540; }

.g {
  background: #7BB858; }

.c {
  text-align: center;
  display: block; }

* {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Lato"; }

a, a:hover, a:focus {
  text-decoration: none !important; }

.content ul, ol {
  margin-left: 25px; }
  .content ul li, ol li {
    margin: 18px 0;
    line-height: 1.4em; }

/* Cover Slider */
.cover {
  height: 500px;
  overflow: hidden;
  position: relative; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0; }
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left; }
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0; }

.caption {
  position: absolute;
  right: 50px;
  top: 370px;
  z-index: 99;
  padding: 20px 25px;
  color: #fff;
  background: #EA6750;
  font-size: 18px;
  font-weight: 600; }
  .caption .desc {
    text-transform: uppercase;
    font-size: 15px;
    opacity: 0.8;
    margin-top: 5px;
    text-align: right; }

.rslides_tabs {
  position: absolute;
  z-index: 99;
  bottom: 30px;
  width: 100%;
  text-align: center; }
  .rslides_tabs li {
    display: inline-block; }
    .rslides_tabs li.rslides_here a {
      background: #fff; }
    .rslides_tabs li a {
      border: 2px solid #fff;
      display: block;
      width: 12px;
      height: 12px;
      font-size: 0px;
      margin: 0 10px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      transition: all 0.2s; }
      .rslides_tabs li a:hover {
        background: #fff; }

/* Button */
.button {
  display: inline-block;
  background: #EA6750;
  color: #fff !important;
  padding: 14px 20px;
  font-size: 16px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.button_wrap {
  text-align: center; }

/* Cols */
.row {
  margin-bottom: 40px;
  margin-top: 40px; }

.col-sm-6.left {
  padding-right: 30px; }

.col-sm-6.right {
  padding-left: 30px; }

.col2 {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  margin-top: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col2:first-of-type {
  margin-right: 5%; }

/* Navigation */
.navbar {
  background: #39a39e !important;
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 0 !important; }
  .navbar li:hover {
    background: #EA6750; }
  .navbar a {
    color: #fff !important; }
  .navbar .open a {
    background: #EA6750 !important; }
  .navbar .dropdown-menu {
    border: none;
    box-shadow: none;
    padding: 0;
    background: #EA6750; }
    .navbar .dropdown-menu li {
      width: 100%; }
      .navbar .dropdown-menu li a {
        padding: 15px 15px;
        background: #EA6750; }
        .navbar .dropdown-menu li a:hover {
          background: #E2B540 !important; }
  .navbar .icon-bar {
    background: #fff !important;
    padding: 1px; }
  .navbar .no-link {
    cursor: default; }
  .navbar .logo {
    position: absolute;
    width: 77px;
    top: -15px; }
    .navbar .logo img {
      max-width: 100%; }
  .navbar .wicc {
    position: absolute;
    left: 100px;
    font-weight: 700;
    font-size: 15px;
    top: 15px;
    color: #fff;
    width: 250px;
    z-index: 99; }

/* Main Content */
.container {
  padding-top: 50px;
  padding-bottom: 80px;
  font-size: 18px;
  color: #111; }
  .container a {
    color: #39a39e !important; }

.narrow {
  max-width: 900px;
  margin: 0 auto; }

.content {
  max-width: 1150px;
  margin: 0 auto;
  padding: 50px 50px;
  font-size: 18px;
  color: #111; }
  .content a {
    color: #39a39e; }
  .content.center {
    text-align: center; }

.g {
  background: #eee; }

h1 {
  font-weight: 600;
  font-size: 36px;
  color: #333;
  margin: 0px 0 25px !important;
  text-align: center; }
  h1.l {
    text-align: left; }

h2 {
  color: #333;
  font-size: 26px;
  margin-bottom: 15px; }

h3 {
  margin: 20px 0 15px; }

p {
  margin: 20px 0;
  line-height: 28px; }

/* Video */
.video {
  width: 90%; }

/* Events */
.event {
  display: inline-block;
  width: 29.5%;
  margin-right: 5%;
  vertical-align: top; }
  .event:nth-child(3n + 2) {
    margin-right: 0; }
  .event .info {
    display: inline-block;
    margin-left: 8%;
    width: 67%; }
    .event .info p {
      margin: 0 0; }

.date {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background: #39a39e;
  width: 80px;
  height: 65px;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top; }
  .date .day {
    font-size: 28px;
    margin-top: -3px; }
  .date .month {
    font-size: 14px;
    text-transform: uppercase; }

/* Goals */
.goals {
  margin: 15px 0; }
  .goals .image {
    height: 130px;
    position: relative;
    bottom: -15px; }

/* Resources */
.opportunities td {
  min-width: 200px; }

/* Footer */
.footer {
  background: #333;
  color: #ccc;
  position: relative; }
  .footer .content {
    padding: 30px 0;
    font-size: 16px; }
  .footer a {
    color: #ccc; }
  .footer .social_media {
    position: absolute;
    right: 50px;
    top: 30px; }

/* ABOUT US PAGE */
.profile {
  margin: 30px 0; }
  .profile img {
    max-width: 100%; }
  .profile .image_float {
    width: 25%;
    text-align: center;
    display: inline-block;
    vertical-align: top; }
    .profile .image_float .square_image {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      border: 8px solid #7BB858;
      max-width: 150px;
      max-height: 150px;
      overflow: hidden;
      margin: 0 auto; }
      .profile .image_float .square_image.s2 {
        border-color: #EA6750; }
  .profile .info {
    width: 60%;
    margin-left: 5%;
    display: inline-block; }
    .profile .info p {
      font-size: 16px;
      line-height: 1.5em; }
  .profile .name {
    font-weight: 700;
    margin-top: 20px;
    text-align: center; }
  .profile .position {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px; }
  .profile .class {
    text-align: center;
    font-size: 15px; }

/* Gallery specific */
.album {
  position: relative;
  display: inline-block;
  vertical-align: top;
  clear: both;
  width: 500px;
  margin-right: -4px; }
  .album:hover .description {
    padding-top: 100px; }
  .album .image_box {
    float: left;
    width: 250px;
    height: 250px;
    overflow: hidden; }
  .album .description {
    width: 250px;
    padding-top: 110px;
    height: 250px;
    color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    text-align: center;
    background: #39a39e;
    display: inline-block;
    transition: all 0.2s; }
    .album .description .album_title {
      padding: 0 20px; }

.album:nth-of-type(4n + 3) .image_box, .album:nth-of-type(4n + 4) .image_box {
  float: right; }
.album:nth-of-type(4n + 3) .description, .album:nth-of-type(4n + 4) .description {
  float: left; }

.album:nth-of-type(4n) .description {
  background: #7BB858; }

.album:nth-of-type(4n + 1) .description {
  background: #E2B540; }

.album:nth-of-type(4n + 2) .description {
  background: #EA6750; }

/*# sourceMappingURL=main.css.map */
