/* Initializing */

$blue: #85e6d5
$darkblue: #5FC3B2
// Old blue color: #39a39e
$red: #ee8484
$yellow: #E2B540
$green: #7BB858

.b
    background: $blue
.r
    background: $red
.y
    background: $yellow
.g
    background: $green

.c
    text-align: center
    display: block

.rfont
    color: $red

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700)
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700)

=border-radius($radius)
    -webkit-border-radius: $radius
    -moz-border-radius:    $radius
    -ms-border-radius:     $radius
    border-radius:         $radius

=box-sizing
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

*
    border: none
    background: none
    padding: 0
    margin: 0
    position: relative
    font-family: "Lato"

a, a:hover, a:focus
    text-decoration: none!important

.container ul, .container ol
    margin-left: 20px

    li
        margin: 10px 0

/* Main Content */

.container
    padding: 50px 30px 30px
    font-size: 17px
    color: #444
    font-weight: 300
    font-size: "Open Sans"
    margin-top: 10px
    a
        color: $blue

    &.sub
        margin-top: 0

.narrow
    max-width: 900px
    margin: 0 auto
    padding: 0 5%

.wrap
    margin: 0 auto

.sm
    max-width: 500px

.medium
    max-width: 700px

.middle
    max-width: 1100px
    margin: 0 auto
    padding: 0 5%

.content
    max-width: 1150px
    margin: 0 auto
    padding: 100px 50px

    a
        color: $blue

    &.center
        text-align: center

.g
    background: #f8f8f8

h1
    text-transform: uppercase
    font-weight: 500
    font-size: 34px
    color: $red
    margin: 10px 0 25px!important
    text-align: center
    font-family: "Raleway"

    &.l
        text-align: left

h2
    color: $red
    font-family: "Raleway"
    text-transform: uppercase
    font-size: 26px
    margin-bottom: 20px
    font-weight: 700
    letter-spacing: 1px
    text-align: center

h3
    margin: 25px 0 20px
    text-transform: uppercase
    font-weight: 600
    font-family: "Ubuntu"
    font-size: 16px
    color: $blue

.col-sm-6
    h3
        text-align: center

p
    margin: 15px 0
    line-height: 28px

/* Portraits of CS */

.questions
    li 
        font-weight: 600


/* Banner */

.banner
    height: 500px
    background: #e6faf8
    overflow: hidden
    
    .bg
        max-width: 900px

    .over
        position: absolute
        top: 150px
        right: 5%
        text-align: right!important

        h1
            max-width: 400px
            text-align: right!important
        

/* Button */

.button
    display: inline-block
    background: $red
    font-family: "Raleway"
    color: #fff!important 
    padding: 11px 20px
    cursor: pointer
    border: none!important
    font-size: 16px
    text-align: center
    +box-sizing
    +border-radius(3px)
    min-width: 200px
    margin: 5px auto
    transition: 0.2s all
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 1px

    &.teal
        background: $blue
        &:hover
            background: $darkblue

.button_wrap
    text-align: center

/* Cols */

.row
    margin-bottom: 40px
    margin-top: 40px

.col-sm-6.left
    padding-right: 30px

.col-sm-6.right
    padding-left: 30px

.col2
    display: inline-block
    width: 47%
    vertical-align: top
    margin-top: 20px
    +box-sizing

.col2:first-of-type
    margin-right: 5%


/* Navigation */

.navbar * 
    font-family: "Ubuntu"
    font-weight: 300!important
    font-size: 13px!important

.navbar
    background: $blue!important
    border-radius: 0!important
    border: none!important
    margin-bottom: 0!important
    text-transform: uppercase
    position: fixed
    top: 0
    z-index: 100
    width: 100%
    
    li
        a
            padding: 20px 15px
    li:hover
        background: $red

    a
        color: #fff!important

    .open a
        background: $red!important

    .dropdown-menu
        border: none
        box-shadow: none
        padding: 0
        background: $red

        li 
            width: 100%
            
            a
                padding: 15px 15px
                background: $red

                &:hover
                    background: $yellow!important

    .icon-bar
        background: #fff!important
        padding: 1px
    .no-link
        cursor: default

    .logo
        position: absolute
        width: 50px
        top: 0px
        left: 30px
        img
            max-width: 100%
    .wicc
        position: absolute
        left: 80px
        top: 20px
        color: #fff
        font-weight: 400
        width: 250px
        z-index: 99



/* Events */

#events
    text-align: center

.event
    margin: 0 2%
    width: 20%
    display: inline-block
    vertical-align: top

.info 
    h3
        margin-bottom: 10px
    p
        margin: 0

.date
    +border-radius(100%)
    border: 2px solid $blue
    width: 80px
    height: 80px
    color: $blue
    text-align: center
    padding-top: 15px
    font-weight: 600
    display: inline-block
    vertical-align: top
    

    .day
        font-size: 28px
        position: relative
        top: -7px
        
    .month
        font-size: 13px
        text-transform: uppercase

    

/* Goals */

.goals
    margin: 15px 0

    .image
        height: 60px
        position: relative
        bottom: 0

        img
            padding-bottom: 10px
            max-height: 100%

    h3
        color: $blue

    a
        display: block
        margin: 2px 0

/* Join Us on front page */

#joinus

    input
        border: 1px solid #ddd
        display: inline-block
        +border-radius(3px)
        padding: 8px 10px
        font-size: 16px
        text-align: center
        width: 100%
        max-width: 230px

    #error
        margin-top: 15px

    .button
        width: 100%
        max-width: 230px


    .media-buttons img
        width: 50px

/* Bottom Banner */

.bottom_banner
    img
        max-width: 100%


/* Resources */

.opportunities td
    min-width: 200px

.img-block
    height: 100px

/* Footer */

.footer
    background: #333
    color: #ccc
    position: relative
    text-align: center
    
    .container
        padding: 30px 0
        font-size: 16px

    a
        color: #ccc

    .social_media
        padding: 10px 0 30px


/* ABOUT US PAGE */


.square_image
    +border-radius(100%)
    max-width: 150px
    max-height: 150px
    overflow: hidden
    margin: 0 auto

    &.s2
        border-color: $red

    img
        max-width: 100%

.info

    p
        font-size: 16px
        line-height: 1.5em

.name
    font-weight: 700
    margin-top: 20px
    text-align: center

.position
    font-weight: 700
    margin-bottom: 10px
    font-size: 18px
    text-transform: uppercase

.class
    text-align: center
    font-size: 15px

/* Calendar */

#calendar
    text-align: center

/* Gallery specific */

.album
    position: relative
    display: inline-block
    vertical-align: top
    clear: both
    width: 500px
    margin-right: -4px

    &:hover
        .description
            padding-top: 100px
            

    .image_box
        float: left
        width: 250px
        height: 250px
        overflow: hidden
        

    .description
        width: 250px
        padding-top: 110px
        height: 250px
        color: #fff
        +box-sizing
        float: right
        text-align: center
        background: $blue
        display: inline-block
        transition: all .2s

        .album_title
            padding: 0 20px

.album:nth-of-type(4n + 3), .album:nth-of-type(4n + 4)
    .image_box
        float: right

    .description
        float: left

.album:nth-of-type(4n)
    .description
        background: $green

.album:nth-of-type(4n + 1)
    .description
        background: $yellow

.album:nth-of-type(4n + 2)
    .description
        background: $red

/* Join */

.fb
    margin-right: 6px
    margin-bottom: 10px

/* Media */

@media screen and (max-width: 1000px)
    .cover
        height: 350px

@media screen and (max-width: 768px)
    .position
        text-align: center
        margin-top: 10px
        
    .cover
        height: 300px

    .nav
        li
            a
                padding: 10px 15px

    .goals .image
        margin-top: 40px

    h1.l
        text-align: center

    h1.top
        padding-top: 40px


    .row
        margin-bottom: 10px

    .event
        width: 28%



@media screen and (max-width: 550px)
    .cover
        height: 250px

@media screen and (max-width: 450px)
    .cover
        height: 200px

    .event
        width: 43%
